<%- include ("./partials/header.ejs") %>

<h1>Carted Items</h1>
<%for (const cartItem of cart ) { %>
        
    <div class="tile">
        <div class="tileHeader">
            <h3> <%=cartItem.make_name%> <%=cartItem.model_name%></h3>
        </div>
        <div class="link">
            <form method="POST" action="/profile/cart?_method=DELETE" >
                <input hidden id="delete" type="text" name="delete" value="<%=cartItem.id%>">
                <button type="submit"> Delete from Cart</button>
        </form>
        </div>
    </div>
    <% } %>
</div>
    
</ul>
 


<%- include ("./partials/footer.ejs") %>