<%- include ("../partials/header.ejs" ) %>


<h2> Car Names</h2>

<h3>Car info</h3>


  <%for (const vehicleName of vehicle ) { %>
        
    <div class="tile">
        <div class="tileHeader">
            <h3><%=vehicleName.make_name%> <%=vehicleName.model_name%></h3>
        </div>
        <div class="link">
            <form method="POST" action="/users/profile?cartId=<%=vehicleName.id%>">
                <input hidden id="name" type="text" name="name" value="<%=vehicleName.make_name%> <%=vehicleName.model_name%>">
                <button type="submit"><a href="/profile/cart" >Add to Cart</a></button>
            </form>
        </div>
    </div>
    <% } %>
   
  <%- include ("../partials/footer.ejs") %> 
